@import './variables'


@keyframes loading
    0%
        background-color: $grey--lighter

    50%
        background-color: $grey--lighter - 10

    100%
        background-color: $grey--lighter




@keyframes slide
    0%
        opacity 0
        transform translate(-55%, -50%)

    100%
        opacity 1
        transform translate(-50%, -50%)


@keyframes intro-in
    0%
        opacity 0
        line-height: 5
        transform: translateY(20%)
    100%
        opacity 1
        line-height: 2
        transform: translateY(0)