@import '~assets/stylus/variables'
@import '~assets/stylus/mixins'
@import '~assets/stylus/transitions'



.title--h2
    font-size: 1.8rem


.title--h3
    font-size 2em
    font-size calc(.00848 * 100vw + 1.1rem)
    line-height: 1.8
    // font-weight 300
    font-weight 700
    font-family $serif
    margin-bottom: 1em


._subtitle
    font-family: $main-font
    font-size: 1.2rem
    font-weight: 600
    color: $blue


._image--loading
    background-color alpha($black, .05)
    animation loading 2s ease-in-out infinite
    width: 100%
    height @width




._thumbnail
    position relative
    overflow hidden

    img
        absolute-centering()


._clickable
    cursor pointer !important


// ////////////////////////////////////////////////////////////////////////////
//                                   LINK                                    //
// ////////////////////////////////////////////////////////////////////////////
._link
    position relative
    &::after
        content ""
        position absolute
        width 0
        height 3px
        background-color $black
        bottom - @height
        left 0
        transition width 400ms ease-out
     &:hover
        &::after
            width 100%



// ////////////////////////////////////////////////////////////////////////////
//                                   TEXT                                    //
// ////////////////////////////////////////////////////////////////////////////
._text
    a
        position: relative
        &::after
            content: ""
            position: absolute
            left 0
            bottom: .1em
            height .4em
            width: calc(100% - .5em)
            background-color: alpha($purple, .85)
            transition: width 250ms ease-in-out
            z-index -1

        &:hover::after
            width: 100%


    em
        background-color alpha($black, .05)

.__text
    font-family $serif
    font-weight 700
    h1, h2, h3, h4, p
        font-weight: inherit
        font-size: inherit


._text--large
    @extend .__text
    font-size calc(1rem + 11 * ((100vw - 320px) / 680))
    font-size calc(.00848 * 100vw + 2rem)

._text--medium
    @extend .__text
    font-size calc(.00848 * 100vw + 1rem)



._paragraph
    font-size: 1.1rem !important
    line-height: 1.8
    font-weight: 500 !important
    font-family: $secondary-font
    font-family: $serif-font
    color: $black


// ////////////////////////////////////////////////////////////////////////////
//                                 CONTAINER                                 //
// ////////////////////////////////////////////////////////////////////////////
.__container
    width: 100%
    padding: 5% 2rem
    margin-left: 10%

._container--large
    @extend .__container
    width: 80vw
    max-width 27em



._container--center
    @extend .__container
    max-width 32em
    margin 0 auto











._container--thumb
    position relative

    & > h3,
    & > .text
        position relative
        margin 0
        z-index 2
        transition color $duration ease-in-out
        color: inherit !important

        span
            font-weight 400
            font-size .8em

        h3
            font-size: 5vw


._content
    position relative
    max-width 72em
    padding: 0 1em
    width 100%
    margin: 0 auto
    clear both



._section__intro
    position absolute
    // top -4em
    top 0
    left 0
    width 1rem
    white-space nowrap
    font-size: 1rem
    font-size: 3rem
    font-weight: 600
    text-transform: uppercase
    font-family $secondary-font
    // transform rotate(-90deg)
    // &::after
    //     content: ""
    //     width: 3em
    //     height 1px
    //     background-color: black
    //     display: inline-block
    //     vertical-align: middle
    //     margin-left: 1em







._page
    display flex
    flex-direction column
    min-height 100vh

._page__content
    flex-shrink: 0
    flex-grow: 1