@import '~assets/stylus/variables'
@import '~assets/stylus/mixins'
@import '~assets/stylus/transitions'


// ////////////////////////////////////////////////////////////////////////////
//                               PAGE & CONTENT                              //
// ////////////////////////////////////////////////////////////////////////////
._page
    display flex
    flex-direction column
    min-height 100vh
    width calc(100% - 6em)
    margin: 0 0 0 auto

    @media screen and (max-width: 760px)
        width: 100%
        margin: 0

._content
    position relative
    max-width 66em
    padding: 0 5em
    width 100%
    margin: 0 auto
    clear both
    @media screen and (max-width: 760px)
        padding 0 2em





// ////////////////////////////////////////////////////////////////////////////
//                                   TEXT                                    //
// ////////////////////////////////////////////////////////////////////////////
.__text
    font-family $font
    h1, h2, h3, h4, p
        font-weight: inherit
        font-size: inherit

._text--title
    @extend .__text
    font-weight: 600
    font-size calc(.00848 * 100vw + 7rem)

    @media screen and (max-width: 1100px)
        font-size calc(.00848 * 100vw + 5.6rem)
    @media screen and (max-width: 760px)
        font-size calc(.00848 * 100vw + 4rem)
    @media screen and (max-width: 540px)
        font-size calc(.00848 * 100vw + 3.2rem)

._text--large
    @extend .__text
    font-weight 400
    font-size calc(.00848 * 100vw + 4rem)

._text--medium
    @extend .__text
    font-weight 400
    font-size calc(.00848 * 100vw + 1rem)




._image--loading
    background-color alpha($black, .05)
    width: 100%
    height @width


._thumbnail
    position relative
    overflow hidden

    img
        absolute-centering()


._clickable
    cursor pointer !important









._paragraph
    font-size: 1.1rem !important
    line-height: 1.8
    font-weight: 400 !important