html,
body
    margin 0
    padding 0
    // -ms-text-size-adjust: 100%
    // -webkit-text-size-adjust: 100%
    -moz-osx-font-smoothing: grayscale
    -webkit-font-smoothing: antialiased
    box-sizing: border-box

*, *:before, *:after
    box-sizing: border-box
    margin: 0


a
    text-decoration none
    color inherit


input, textarea
    padding 0
    border none
    background none
    font-size 1.6rem
    // width 100%
    // font-family: 'Karma', serif

    &:focus
        outline none

input[type="text"]
    margin 6% 0
    font-size 1rem
    height 2rem


textarea
    white-space pre-wrap
    resize none
    flex 1
    height 100%

button
    border none
    margin 0
    padding 1em
    font-size 1rem
    background: none
    color: inherit
    cursor pointer
    outline none

