// Transitions
.fade-enter-active, .fade-leave-active
    transition: opacity .4s 1000

.fade-enter, .fade-leave-to
    opacity: 0


.fade-enter-active, .fade-leave-active
    transition: all .4s 800

.fade-enter, .fade-leave-to
    opacity: 1





@keyframes transOut
    0%
        top 100%
    100%
        top 0

@keyframes transIn
    0%
        top 0
    100%
        top -100%



.page-enter,
.page-enter-active
    transition all .3s ease-out
    &::after
        content ""
        position fixed
        top 0
        left 0
        width 100%
        height 100%
        z-index 999
        transition all 1s ease-in-out
        background-color #f6f6f6
        animation transIn .3s ease-in-out forwards

.page-leave-active,
.page-leave
    transition all .6s ease-in-out
    &::after
        content ""
        position fixed
        top 100%
        left 0
        width 100%
        height 100%
        z-index 1000
        transition all 1s ease-in
        background-color #f6f6f6
        animation transOut .6s ease-in-out forwards





.menu-enter,
.menu-leave-to
    &::after
        opacity 0 !important
    #MenuBody
        position: absolute
        top -100% !important

.menu-enter .links li
    opacity 0 !important
    margin: 10em 0 !important

.menu-leave,
.menu-enter-to
    &::after
        opacity 1 !important

    #MenuBody
        position: absolute
        top 0 !important

    .links li
        opacity 1 !important
        margin: 2% 0 !important

.menu-leave-active
    transition-duration 350ms
    &::after,
    & > #MenuBody
        transition all 350ms ease-out

.menu-enter-active
    transition-duration 1.2s
    &::after
        transition opacity 1.2s ease
    & > #MenuBody
        transition top .4s cubic-bezier(0.445, 0.05, 0.55, 0.95)
    .links li
        transition all 1.2s ease


