// Transitions
.fade-enter-active, .fade-leave-active
    transition: opacity .4s 1000

.fade-enter, .fade-leave-to
    opacity: 0


.fade-enter-active, .fade-leave-active
    transition: all .4s 800

.fade-enter, .fade-leave-to
    opacity: 1






.page-slide-down-enter
    transform translateY(-50vh)
    opacity 0

.page-slide-down-enter-active
    position relative
    transition: all .6s ease-out

.page-slide-down-enter-to
    transform translateY(0)
    opacity 1



.page-slide-down-leave
    transform translateY(0)
    opacity 1

.page-slide-down-leave-active
    position relative
    transition: all .4s ease-in

.page-slide-down-leave-to
    transform translateY(100vh)
    opacity 0






.page-slide-up-enter
    transform translateY(50vh)
    opacity 0

.page-slide-up-enter-active
    position relative
    transition: all .6s ease-out

.page-slide-up-enter-to
    transform translateY(0)
    opacity 1



.page-slide-up-leave
    transform translateY(0)
    opacity 1

.page-slide-up-leave-active
    position relative
    transition: all .4s ease-in

.page-slide-up-leave-to
    transform translateY(-100vh)
    opacity 0





.page-slide-right-enter
    transform translateX(20vw)
    opacity 0

.page-slide-right-enter-active
    position relative
    transition: all .6s ease-out

.page-slide-right-enter-to
    transform translateX(0)
    opacity 1



.page-slide-right-leave
    transform translateX(0)
    opacity 1

.page-slide-right-leave-active
    position relative
    transition: all .4s ease-in

.page-slide-right-leave-to
    transform translateX(-20vw)
    opacity 0





.page-slide-left-enter
    transform translateX(0)
    opacity 0

.page-slide-left-enter-active
    position relative
    transition: all .6s ease-out

.page-slide-left-enter-to
    transform translateX(50vw)
    opacity 1



.page-slide-left-leave
    transform translateX(-100vw)
    opacity 1

.page-slide-left-leave-active
    position relative
    transition: all .4s ease-in

.page-slide-left-leave-to
    transform translateX(0)
    opacity 0