// Transitions
.fade-enter-active, .fade-leave-active
    transition: opacity .4s 1000

.fade-enter, .fade-leave-to
    opacity: 0


.fade-enter-active, .fade-leave-active
    transition: all .4s 800

.fade-enter, .fade-leave-to
    opacity: 1



// ////////////////////////////////////////////////////////////////////////////
//                                    PAGE                                   //
// ////////////////////////////////////////////////////////////////////////////
@keyframes transOut
    0%
        top 0
    100%
        top 100%

@keyframes transIn
    0%
        top -100%
    100%
        top 0


.page-enter-active
    transition: all .4s
.page-leave-active
    transition: all .6s

.page-enter-active
    &::after
        content ""
        position fixed
        top -100%
        left 0
        width 100%
        height 100%
        z-index 98
        background-color #fafafa
        animation transOut .4s ease-out forwards

.page-leave-active
    &::after
        content ""
        position fixed
        top 0
        left 0
        width 100%
        height 100%
        z-index 98
        background-color #fafafa
        animation transIn .6s ease-in forwards



// ////////////////////////////////////////////////////////////////////////////
//                                    MENU                                   //
// ////////////////////////////////////////////////////////////////////////////
.menu-enter,
.menu-leave-to
    &::after
        opacity 0 !important
    #MenuBody
        position: absolute
        top -100% !important

.menu-enter .links li
    opacity 0 !important
    margin: 10em 0 !important

.menu-leave,
.menu-enter-to
    &::after
        opacity 1 !important

    #MenuBody
        position: absolute
        top 0 !important

    .links li
        opacity 1 !important
        margin: 2% 0 !important

.menu-leave-active
    transition-duration 250ms
    &::after,
    & > #MenuBody
        transition all 250ms ease-out

.menu-enter-active
    transition-duration 1s
    &::after
        transition opacity 1s ease
    & > #MenuBody
        transition top .4s cubic-bezier(0.445, 0.05, 0.55, 0.95)
    .links li
        transition all 1s ease


