// Base colors
$white = #ffffff
$black = #151515
$black = #000
// $black = #292929
$black = #202023
// $dark = #161616
// $dark = #292929
$dark = #0d0d0d
$grey--lighter = #fafafa
$grey--light = #f0f0f0
$blue = #2a3dea
$text = #454E61
$purple = #935BF9
$line = alpha($black, .1)


// Sizes
$thumb-size = 64vh



// Spacing
$spacing--small = 2rem
$spacing--medium = 4rem
$spacing--large = 6rem
$spacing-per--small = 5%
$spacing-per--medium = 6%
$spacing-flex = calc(4% + 3em)


$duration = 350ms
$appear = 400ms


// FONTS
$main-font = 'Mukta', sans-serif
$secondary-font = 'Muli', sans-serif
// $secondary-font = 'IBM Plex Sans', sans-serif
// $serif = 'Merriweather', serif
// $serif = 'IBM Plex Serif', serif
// $serif = 'Sarabun', sans-serif
// $secondary-font = 'Sarabun', sans-serif
$serif = 'Muli', sans-serif
// $serif = 'IBM Plex Sans', sans-serif


$trans = cubic-bezier(0.550, 0.085, 0.680, 0.530)