// Base colors
$white = #ffffff
$black = #151515
$grey--lighter = #fafafa
$grey--light = #f0f0f0



// Pastel colors



// Sizes
$thumb-size = 60vh



// Spacing
$spacing--small = 2rem
$spacing--medium = 4rem
$spacing--large = 6rem



$duration = 350ms