// Base colors
$white = #ffffff
$black = #151515
$black = #000
// $black = #292929
$black = #202023
$black = #141418
$black = #000
$black = #0d0d0d
// $dark = #161616
// $dark = #292929
$dark = #0d0d0d
$grey--lighter = #fafafa
$grey--light = #f0f0f0
$blue = #2a3dea
$text = #454E61
$purple = #935BF9
$line = alpha(#000, .1)


// Sizes
$thumb-size = 64vh



// Spacing
$spacing--small = 2rem
$spacing--medium = 4rem
$spacing--large = 6rem
$spacing-per--small = 5%
$spacing-per--medium = 6%
$spacing-flex = calc(4% + 5rem)
$spacing-flex-mb = calc(4% + 2rem)


$duration = 350ms
$appear = 400ms


// FONTS
$font = 'Cabin', 'Muli', sans-serif
$serif = 'Libre Baskerville', serif

$trans = cubic-bezier(0.550, 0.085, 0.680, 0.530)
$ease-in = cubic-bezier(0.165, 0.84, 0.44, 1)